#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

#
# cogito
#

*.pyc
documentation/
2test.py
banter.txt
data/Cogito messages.yml
data/Cogito stats.yml
data/whitelist.yml
elements.txt
loader4proto.py
logs/Cogito errors.log
logs/Cogito verbose.log
new  2.txt
new  3.txt
personalities/bartender/LINES test.txt
personalities/bartender/elements.txt
personalities/bartender/new  2
personalities/bartender/new  2.txt
plugins/TEMPLATE.py
plugins/modified calc frac time.txt
plugins/new  2.txt
plugins/quickTEMPLATE.py
rest.txt
rgb.txt
selflessloader.py
speech0.mp3
zalgo.py
data/user stats.txt
