#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#############
## Python
#############

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# cogito
*.pyc
data/
documentation/
plugins/modified calc frac time.txt
plugins/new  2.txt
plugins/quickTEMPLATE.py
plugins/TEMPLATE.py
logs/
2test.py
loader4proto.py
selflessloader.py
zalgo.py
banter.txt
elements.txt
new  2.txt
new  3.txt
rest.txt
rgb.txt
speech0.mp3
*.txt
scantest.py
